{% extends "main.html" %} {% block content %}

<!-- Page Content Holder -->
<div id="content">

    <div class="page-header">
        <h1>Generate a MadLibs game.!</h1>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
          <div class="form-group">
              <label for="formControlTextarea1"><h3>Make sure your replacement words are in square brackets.</h3></label>
              <div class="center">
                  <textarea class="form-control" id="formControlTextarea1" rows="6"
                  placeholder="Example: We are [hiking] today. Will [you] come."></textarea>
                  <br/>
                  <button type="submit" class="btn btn-default">Submit</button>
              </div>
          </div>
      </div>
    </div>

</div>

{% endblock %}
