<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	</head>

	<body class="body-color">

		<div class="wrapper">

		    <!-- Sidebar Holder -->
		    <nav id="sidebar">
		        <div class="img">
		        	<div class="sidebar-header">
		            	<h3>MadLibs Game</h3>
		        	</div>

		        	<ul class="list-unstyled components">
		            	<li>
		                	<a href="#generate.html">Generate MadLib</a>
		            	</li>

		        	</ul>
					<ul class="list-unstyled components">

						<li>
		                	<a href="#play.html">Play MadLib</a>
		            	</li>
		        	</ul>
		    	</div>
		    </nav>
			{% block content %}
			{% endblock %}
		   

		<!-- Sidebar Holder -->
		<nav id="sidebar">
			<div class="img"></div>
		</nav>

	</div>
	</body>
</html>
