{% extends "main.html" %} {% block content %}

<!-- Page Content Holder -->
<div id="content">

    <div class="page-header">
        <h1>Play MadLibs game.!</h1>
    </div>

    <div class="panel panel-default margin">
      <div class="panel-body">
          <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button">Button</button>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
            </div>
           </div>
           <textarea class="form-control" id="formControlTextarea1" rows="6">We are [hiking] today. Will [you] come.</textarea>
        <br/>
      </div>
    </div>
</div>
<!-- /end content -->
{% endblock %}
